#inclusion_filter_list, #exclusion_filter_list  {
  width: 300px;
  float: left;
  margin-right: 10px;
}
#inclusion-filter-list-add, #inclusion-filter-list-remove, #inclusion-filter-list-remove-all,
#exclusion-filter-list-add, #exclusion-filter-list-remove, #exclusion-filter-list-remove-all  {
  display: block;
  width: 100px;
  margin-bottom: 5px;
}

#inclusion-filter-item-add , #exclusion-filter-item-add{
  width: 100%;
}

.page {
  width: 500px;
}